AddDefaultCharset utf-8
IndexIgnore *


#-------------------------------------------------------------------------------
# Configurer environnement de travail
#-------------------------------------------------------------------------------
SetEnv ENVIR_WEB dev
SetEnvIf Host !local ENVIR_WEB=prod

#-------------------------------------------------------------------------------
# X-Frame-Options
#-------------------------------------------------------------------------------
Header always append X-Frame-Options SAMEORIGIN

Strict-Transport-Security: max-age=31536000; includeSubDomains

#-------------------------------------------------------------------------------
# Forcer le www
#-------------------------------------------------------------------------------
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} !^api\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

#-------------------------------------------------------------------------------
# Activer le HTTPS
#-------------------------------------------------------------------------------
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP_HOST} !mamachine [NC]
RewriteCond %{HTTP_HOST} !local [NC]
RewriteCond %{REQUEST_URI} !^/utilitaires
# Allow .well-known through for Let's Encrypt.
RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/ [NC]
# Allow .well-known through for AutoSSL.
RewriteCond %{REQUEST_URI} !^/\.well\-known/pki\-validation/ [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]

RewriteEngine on
RewriteBase /

#-------------------------------------------------------------------------------
# Forcer le slash
#-------------------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_URI} !(\.)
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [L,R=301]

#-------------------------------------------------------------------------------
# URL court pour le CMS
#-------------------------------------------------------------------------------
RewriteRule ^cms/$                      /fr/cms/connexion/ [R=301,L]
RewriteRule ^intranet/$                 /fr/cms/connexion/ [R=301,L]
RewriteRule ^softsystem/$               /fr/cms/connexion/ [R=301,L]

RewriteRule ^fr/intranet/$              /fr/cms/connexion/ [R=301,L]
RewriteRule ^fr/intranet/login/$        /fr/cms/connexion/ [R=301,L]
RewriteRule ^fr/cms/$                   /fr/cms/connexion/ [R=301,L]

#Redirection CMS ANGLAIS
RewriteRule ^en/intranet/$              /en/cms/login/ [R=301,L]
RewriteRule ^en/intranet/login/$        /en/cms/login/ [R=301,L]
RewriteRule ^en/cms/$                   /en/cms/login/ [R=301,L]

#-------------------------------------------------------------------------------
# URL de redirection 301
#-------------------------------------------------------------------------------
RewriteRule ^fr/$                       /fr/accueil/ [R=301,L]

RewriteRule ^en/$                       /en/home/ [R=301,L]

#-------------------------------------------------------------------------------
#Bloquer acces de la Chine
#-------------------------------------------------------------------------------
Order allow,deny
Allow from all
Deny from 65.19.146.2 220.248.0.0/14


#-------------------------------------------------------------------------------
# Prevenir lire fichier .htacess et fichier .inc et php.ini
#-------------------------------------------------------------------------------
<Files ~ "^\.(?:htaccess|htpasswd)$|^.*\.(?i:ini|inc|tpl|env)">
    order allow,deny
    deny from all
</Files>

#-------------------------------------------------------------------------------
# Page header module bdd
#-------------------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !^/utilitaires/ [NC]
RewriteCond %{REQUEST_URI} !^/api/ [NC]
RewriteCond %{REQUEST_URI} !^/fichiersUpload/ [NC]
RewriteCond %{REQUEST_URI} !^/assets/ [NC]
RewriteCond %{REQUEST_URI} !^/js/ [NC]
RewriteCond %{REQUEST_URI} !^/css/ [NC]
RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/ [NC]
RewriteCond %{REQUEST_URI} !^/\.well\-known/pki\-validation/ [NC]
RewriteRule ^(.*)/$ info.php?page=$1 [QSA,L]

